/*
    Sets up the main content frame to use iframes, and to
    have a standard for how text/others should generally look
    for the website to have consistency
*/

main {
    padding: 20px 7px 20px 0;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    border: 2px solid #2c2c35;
}

body::-webkit-scrollbar-thumb {
    border: 2px solid #2c2c35;
}

li {
    list-style-type: none;
}

li::before {
    content: "-";
    margin-right: 10px;
}

pre {
    background-color: #16161a;
    width: 100%;
}

code {
    width: 100%;
    padding: 0 4px;
    background-color: #16161a;
    font-weight:lighter;
}

.horizontal-rule {
    width: 100%;
    height: 3px;
    margin: 7px 0;
    background-color: #2c2c35;
}

table, th, td {
    border: 3px solid #40404c;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 4px;
}

figcaption {
    opacity: 0.7;
}

p {
    margin-bottom: 7px;
}

h6 {
    margin-bottom: 14px;
}